*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.fa-trash, .fa-check-circle{
    pointer-events: none;
}

.button-checked{
    width: 100px;
    height: 100px;
}